* {
    background-color: plum;
}


#main {
    background-color: plum;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

#title {
    padding-top: 7px;
}

h1 {
    font-size: 2.5em;
}

img {
    max-width: 100%;
    height: auto;
}

#tribute-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#tribute-info ul li {
    margin: 0;
    padding: 0;
}